.Head{
    background-color: #bbded6;
    margin: 0px 0px 2px;
    padding: 40px;
}

#Name{
    margin: 0px auto 0px auto;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}
#do{
    margin: 0px auto 0px auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

body{
    background-color: #3d84a8;
    color: #48466d;
    margin: 0px 0px 2px;    
    text-align: center;
}

.GOLANG{
    text-decoration: underline;
}

.zeb{
    margin: 0px;
    border-radius: 80px;
}